@charset "UTF-8";

:root {
  --title-font: "Dancing Script", cursive;
  --paragraph-font: "Open Sans", sans-serif;

  --background-color: #232323;
  --main-color: #135700;
  --secondary-color: #0e3e32;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-2300px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--paragraph-font);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* Header */

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 10px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.138);
}

header .logo {
  color: var(--main-color);
  font-family: var(--title-font);
  font-weight: bolder;
  font-size: 35px;
}

header ul.nav {
  display: flex;
  gap: 50px;
}

header ul.nav li {
  position: relative;
  padding-bottom: 2px;
}

header ul.nav li::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transition: width 0.5s ease;
}

header ul.nav li:hover::before {
  width: 100%;
}

header a.action {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid black;
  padding: 8px 10px;
  font-size: 16px;
  display: flex;
  gap: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;
}

header a.action:hover {
  color: white;
}

header a.action::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transform: skewX(45deg);
  transform-origin: left bottom;
  z-index: -1;
  transition: width 0.3s ease-in;
}

header a.action:hover::before {
  width: 120%;
}

/* Hero */

section#hero {
  display: flex;
  position: relative;
}

section#hero .container {
  width: 80vw;
  height: calc(100vh - 61.6px);
  background: linear-gradient(to right, #135700, #3ea201, transparent);
  color: white;
  z-index: 1;
  padding-left: 15%;
  display: grid;
  place-content: center;
  justify-content: start;
  justify-items: center;
  align-items: center;
}

section#hero .container .title h1 {
  font-size: 110px;
  font-family: var(--title-font);
  font-weight: 900;
  text-shadow: 5px 5px 10px var(--secondary-color);
}

section#hero .container .title h2 {
  font-weight: 100;
  padding-bottom: 5px;
  border-bottom: 2px solid;
}

section#hero .container .links {
  margin-block: 15px 50px;
  display: flex;
  align-items: center;
  gap: 70px;
}

section#hero .container .links a {
  color: white;
  font-size: 40px;
  transition: opacity 0.3s ease;
}

section#hero .container .links a:hover {
  opacity: 0.8;
}

section#hero .container .adress {
  font-weight: 600;
  font-size: 18px;
}

section#hero .container .adress span {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

section#hero .background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55vw;
  height: calc(100vh - 61.6px);
  background: transparent url("imagens/background/hero.png") no-repeat center;
  background-size: cover;
  z-index: -1;
}

/* About */

section#about {
  margin: 100px 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 75px;
  justify-content: center;
}

section#about .wrap {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding-block: 20px;
}

section#about .wrap p {
  font-size: 18px;
}

section#about .wrap i {
  color: white;
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 15px;
  font-size: 40px;
  margin-bottom: 10px;
}

/* Parallax */

section#parallax {
  background: black url("imagens/background/parallax.png") no-repeat center
    fixed;
  box-shadow: inset 1px 1px 20px 10px rgba(0, 0, 0, 0.3);
  background-size: cover;
  height: 350px;
}

section#parallax .background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  display: grid;
  place-content: center;
}

section#parallax .background h2 {
  font-family: var(--title-font);
  font-size: 100px;
}

section#parallax .background p {
  font-size: 18px;
  border-bottom: 1px solid var(--main-color);
}

section#parallax .background p span {
  font-weight: 600;
}

/* Mugs */

section#mugs-wrapper,
section#others {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  align-items: center;
  padding-inline: 50px;
  padding-block: 150px;
  gap: 50px;
}

section#mugs-wrapper .container,
section#others .container {
  position: relative;
  overflow: hidden;
  display: grid;
  place-content: center;
  border-radius: 5px;
  transition: height 0.5s ease;
}

section#mugs-wrapper .container::before,
section#others .container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
  transition: height 0.5s ease;
}

section#mugs-wrapper .container:hover::before,
section#others .container:hover::before {
  height: 60%;
}

section#mugs-wrapper .container a.cart,
section#others .container a.cart {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: bottom 0.5s ease, opacity 0.3s ease;
}

section#mugs-wrapper .container:hover a.cart {
  bottom: 15%;
}

section#others .container:hover a.cart {
  bottom: 10%;
}

section#mugs-wrapper a.cart:hover,
section#others a.cart:hover {
  opacity: 0.8;
}

section#mugs-wrapper .container p,
section#others .container p {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  transition: bottom 0.5s ease;
}

section#mugs-wrapper .container:hover p,
section#others .container:hover p {
  bottom: 6%;
}

/* About Mugs */

section#mugs-slider {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  }

section#mugs-slider .slider {
  position: relative;
  background: linear-gradient(45deg, black, #3d3d3d);
  overflow: hidden;
}

section#mugs-slider .slider::before,
section#mugs-slider .slider::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  z-index: 1;
  display: grid;
  background-color: rgba(0, 0, 0, 0.7);
  filter: blur(20px);
}

section#mugs-slider .slider::before {
  left: 0;
}

section#mugs-slider .slider::after {
  right: 0;
}

section#mugs-slider .slider ul {
  display: flex;
  align-items: center;
  gap: 30px;
  animation: slide 20s linear infinite;
}

section#mugs-slider .slider img {
  width: 300px;
  vertical-align: bottom;
}
